.welcome {
    background-color:#124559;
    color: #f3f3f3;
    width: 100vw;
    height:100vh;
    font-family: 'Raleway', sans-serif;
}

.titles{
    display: block;
    padding-top: 50px;
}

.titles h1{
    font-size: 5em;
    text-align: center;
    text-decoration:underline;
    color: #fff;
}

.titles h2{
    text-align: center;
    
}

.titles h4{
    margin-left: 21%;
    text-decoration:underline;
}

.titles h3{
    margin-left: 66%;
    text-decoration:underline;
}

@media screen and (max-width:858px) {
    .titles h1{
        font-size: 3em;
    }
    .titles h2{
        font-size: 1.5em;
        margin: 0 60px;
    }
    .titles h3{
        font-size: 1em;
    }
    .titles h4{
        font-size: 1em;
    }
}

@media screen and (max-width:958px) {
    .titles h1{
        font-size: 4.4em;
    }
    .titles h2{
        font-size: 1.7em;
        margin: 0 60px;
    }
    .titles h3{
        font-size: 1.1em;
    }
    .titles h4{
        font-size: 1.1em;
    }
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-home {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
     cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
  }
  
  .button-home:active {
    scale: 0.92;
  }
  
  .button-home:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  @media screen and (max-width:858px) {
    .button-home{
        font-size: 1.3rem;
    }
  }